Package: com.frostzone.audiobalancer
Name: AudioBalancer
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iPwned
Author: iPwned
Section: Tweaks
Version: 0.0.1-14
Installed-Size: 117
